//footer section  start
.footer-sec {
    background: #29313a;
    background-image:url(../images/footer-bg.jpg) ;
    background-color: $primary-color;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top:20px;
    padding-bottom: 30px;
    .footer-text{
        .footer-heading{
            color: #fff;
            font-size: 2em;
            padding-top: 25px;
            text-transform: capitalize;
            text-align: center;
            font-weight: 600;
            @media(min-width:768px){
                text-align: left;
                font-size:1.2em;

            }
          
        }
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                 li{
                    text-align: center;
                    font-size: 0.9em;
                    margin-bottom: 10px;
                    @media(min-width:768px){
                        text-align: left;
                        
                    }
                     a{
                        color:#fff;
                        text-decoration: none;
                     }
                   
                }
               
            }
            .footer-menuicon{
                
                li{
                    padding:0 5px;
                    
                }
                text-align: center;
                @media(min-width:768px){
                    text-align: left;
                    display: flex;
                }
            }
          
        }
     
    }


/* copyright css */
.copy-right {
    background-color: black;
    .copyright-text {
        color: #fff;
        text-align: center;
        font-size: 1em;
        padding-top: 15px;
        a{
            color: $primary-color;
            text-decoration: none;
        }
    }
}