//About Us
.about-sec {
    .about-heading{
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 3rem;
        }
    }
    .about-heading-text {
        text-align:center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .about-text{
        text-align: center;
    }
    .btn {
        padding: 10px 30px;
        background-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
    .aboutimg{
        width: 100%;
    }
}
//End About Us

//testimonials start
.testimonials-section{
    .testimonials-heading{
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .content-side{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .testimonials-text{
            font-family:$primary-font;
            font-weight: 400;
            color: #070202;
            font-size: 0.9em;

        }
    }
    .img-side{
        position: relative;
        margin-bottom: 20px;
        .quod-icon{
            position: absolute;
            top:0;
            left:-10px;
            font-size: 3em;
            z-index:2;
            color: $primary-color;
            display: none;
            @media(min-width:768px){
                display: block;
                }
        }
    }
    .user-img-container{
        width:150px;
        height:150px;
        background-color:$secondary-color;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin:0 auto;
        @media(min-width:768px){
            margin:0;
            }
        .testimonials-img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            max-width: initial;
        }
    }
    .testimonials-heading-text {
        text-align:center;
        padding-top: 5px;
        padding-bottom: 55px;
        font-family:$primary-font;
        font-weight: 300;
    }
   
    .btn {
        padding: 10px 50px;
        background-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
}
//end testimonials start

// Service

.service-sec {
    .service-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 3rem;
        }
    }
    .service-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .service {
        border: solid #a8a7a7;
        border-width: 1px;
        padding: 20px;
        transition: all ease-in-out 0.3s;
        .service-img{
             width: 15%;
             padding-bottom: 20px;
             transition: fill ease-in-out 0.3s;
         }

        .service-menu-heading {
            text-transform: uppercase;
            text-align: left;
            font-size: 1.1em;
            font-family: $primary-font;
            font-weight: 700;
           
        }
        .service-text {
            color: #000;
            padding-top: 8px;
            padding-bottom: 2px;
            font-size: 0.9em;
            font-family:$primary-font;
            transition: color ease-in-out 0.3s;
        }
        a {
            text-decoration: none;
            color: $primary-color;
            font-family:$primary-font;
            text-transform: uppercase;
            transition: color ease-in-out 0.3s;
        }
        &:hover {
            background-color: $primary-color;
            color: #fff;
            box-shadow: 6px 6px 18px 3px #b1a8a8;
            border-color: $primary-color;
            .service-img{
                fill: #fff;
            }
            .service-text {
                color: #fff;
            }
            a {
                color: #fff;
            }
        }
    }
    .btn {
        padding: 10px 50px;
        background-color: $secondary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
}
// end service

//industries-sec
.industries-sec{
    .tns-outer{
        position:relative;
        .tns-controls{
            display: flex;
            justify-content:space-between;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: calc(100% + 80px);
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 2em;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .industries-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .industries-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .icon-wrapper{
        background-color: $secondary-color;
        padding:30px 0;
        .industries-logoimg{
            width: 80px;
            fill: #fff;
        }
        .item-container{
            display: flex;
            align-items: center;
            justify-content: center;
            .industries-text{
                margin: 0;
                font-family:$primary-font;
                font-weight: 700;
                color: #fff;
                padding-left: 15px;
            }
        }
    }
}
//end industries-sec

//SUCCESS STORIES-sec
.success-sec{
    .success-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .success-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .success-card{
        text-align: center;
        margin-bottom: 7%;
        cursor: pointer;
        .success-text{
            // color: #070202;
            font-family: $primary-font;
        }
        .read-more{
            text-decoration: none;
            color: #070202;
        }
        &:hover{
            color:#fff !important;
            background-color: $primary-color;
            transform: translateY(-10px);
            box-shadow: 6px 6px 18px 3px #f3f3f3;
            transition: all ease-in-out 0.4s;
        }
    }
    
}
//end SUCCESS STORIES-sec

//solutions-sec
.solutions-sec{
    .solutions-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .solutions-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
}
//end solutions-sec

//contact-sec
.contact-sec{
    .contact-heading{
        text-align: center;
        font-weight: 700;
        color:#fff;
        text-transform: uppercase;
        padding-top: 20px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .contact-heading-text{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
        color: #fff;
        font-size: 0.9rem;
    }
    .bg-wrapper{
        background-color: $secondary-color;
        padding:50px 0;
        .icon{
            width: 100%;
            text-align: center;
            display: block;
            i{
                
                color:#fff;
                font-size:3em;
            }
        }
    }
}
//end contact-sec

//  Brands
.brands-section{
    
    .brands-heading{
        color: $primary-color;
        text-align:center;
        font-family: $primary-font;
        font-weight: 700;
    }
    .brands-heading-text{
        color: #3c180d;
        text-align:center;
        font-family: $primary-font;
        font-weight: 400;
    }
    .icon-wrapper{
        background-color: $secondary-color;
        padding:30px 0;
        .logoimg{
            display: flex;
            margin: 0 auto;
            width: 40px;
            fill: #fff;
            @media(min-width:768px){
                width: 50%;
            }
        }
    }
}
//end brands