@use "sass:math";
//About Us
.about-sec {
    .about-heading{
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 3rem;
        }
    }
    .about-heading-text {
        text-align:center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .about-text{
        text-align: center;
    }
    .btn {
        padding: 10px 30px;
        background-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
    .aboutimg{
        width: 100%;
    }
}
//End About Us

//testimonials start
.testimonials-section{
    .testimonials-heading{
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .content-side{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .testimonials-text{
            font-family:$primary-font;
            font-weight: 400;
            color: #070202;
            font-size: 0.9em;

        }
    }
    .img-side{
        position: relative;
        margin-bottom: 20px;
        .quod-icon{
            position: absolute;
            top:0;
            left:-10px;
            font-size: 3em;
            z-index:2;
            color: $primary-color;
            display: none;
            @media(min-width:768px){
                display: block;
                }
        }
    }
    .user-img-container{
        width:150px;
        height:150px;
        background-color:$secondary-color;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin:0 auto;
        @media(min-width:768px){
            margin:0;
            }
        .testimonials-img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            max-width: initial;
        }
    }
    .testimonials-heading-text {
        text-align:center;
        padding-top: 5px;
        padding-bottom: 55px;
        font-family:$primary-font;
        font-weight: 300;
    }
   
    .btn {
        padding: 10px 50px;
        background-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
}
//end testimonials start

// Service

.service-sec {
    .service-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 3rem;
        }
    }
    .service-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .service {
        border: solid #a8a7a7;
        border-width: 1px;
        padding: 20px;
        transition: all ease-in-out 0.3s;
        .service-img{
             width: 15%;
             padding-bottom: 20px;
             transition: fill ease-in-out 0.3s;
         }

        .service-menu-heading {
            text-transform: uppercase;
            text-align: left;
            font-size: 1.1em;
            font-family: $primary-font;
            font-weight: 700;
           
        }
        .service-text {
            color: #000;
            padding-top: 8px;
            padding-bottom: 2px;
            font-size: 0.9em;
            font-family:$primary-font;
            transition: color ease-in-out 0.3s;
        }
        a {
            text-decoration: none;
            color: $primary-color;
            font-family:$primary-font;
            text-transform: uppercase;
            transition: color ease-in-out 0.3s;
        }
        &:hover {
            background-color: $primary-color;
            color: #fff;
            box-shadow: 6px 6px 18px 3px #b1a8a8;
            border-color: $primary-color;
            .service-img{
                fill: #fff;
            }
            .service-text {
                color: #fff;
            }
            a {
                color: #fff;
            }
        }
    }
    .btn {
        padding: 10px 50px;
        background-color: $secondary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
}
// end service

//industries-sec
.industries-sec{
    .tns-outer{
        position:relative;
        .tns-controls{
            display: flex;
            justify-content:space-between;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: calc(100% + 80px);
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 2em;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .industries-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .industries-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .icon-wrapper{
        background-color: $secondary-color;
        padding:30px 0;
        .industries-logoimg{
            width: 80px;
            fill: #fff;
        }
        .item-container{
            display: flex;
            align-items: center;
            justify-content: center;
            .industries-text{
                margin: 0;
                font-family:$primary-font;
                font-weight: 700;
                color: #fff;
                padding-left: 15px;
                display: none;
                @media(min-width:768px){
                    display: block;
                }
            }
        }
    }
}
//end industries-sec

//SUCCESS STORIES-sec
.success-sec{
    .success-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .success-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .success-card{
        text-align: center;
        margin-bottom: 7%;
        cursor: pointer;
        .success-text{
            // color: #070202;
            font-family: $primary-font;
        }
        .read-more{
            text-decoration: none;
            color: #070202;
        }
        &:hover{
            color:#fff !important;
            background-color: $primary-color;
            transform: translateY(-10px);
            box-shadow: 6px 6px 18px 3px #f3f3f3;
            transition: all ease-in-out 0.4s;
        }
    }
    .btn {
        padding: 10px 50px;
        background-color: $secondary-color;
        border-radius: 8px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 40px 0;
        &:hover{
            background-color: #fff;
            color: #000;
            border-color: #555555;
        }
    }
    
}
//end SUCCESS STORIES-sec

//solutions-sec
.solutions-sec{
    .solution-container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .solutions-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .solutions-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .service {
        position: relative;

        .back-layer {
            position: relative;

            img {
                width: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, $secondary-color 0%,rgba($secondary-color, 0.7) 30%, rgba($secondary-color, 0) 100%);
                opacity: 0.67;
            }

            .text-layer {
                position: absolute;
                bottom: 30px;
                left: 30px;
                width: calc(100% - 30px);
                text-align: center;
                @media(min-width:768px){
                    text-align: left;
                    width:auto;
    
                }

                .title {
                    font-family: $primary-font;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                    margin-bottom: 0;
                    user-select: none;
                    transition: opacity 0.1s ease-out;
                    transition-delay: 0.2s;
                }
            }
        }

        .front-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: rgba(darken($primary-color, 20), 0.6);
            backdrop-filter: blur(1.5px);
            text-align: center;
            color: #fff;
            transition: height 0.2s ease-in-out;
            transition-delay: 0.2s;

            .text-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in;

                .title {
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .description {
                    width: 80%;
                    margin: 0 auto;
                    font-weight: 300;
                    font-size: 0.9em;
                }

                .link {
                    color: #fff;
                    font-weight: 600;
                    text-decoration: none;
                    position: relative;
                    display: inline-block;
                    margin-top: 20px;
                    transition: all 0.3s ease-in-out;

                    &::before {
                        content: '';
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        background-color: #fff;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            width: calc(100% + 10px);
                        }
                    }
                }
            }
        }

        &:hover {
            .back-layer {
                .text-layer {
                    .title {
                        opacity: 0;
                        transition-delay: 0;
                    }
                }
            }

            .front-layer {
                height: 100%;
                transition-delay: 0s;

                .text-container {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.2s;
                }
            }
        }
    }
}
//end solutions-sec

//contact-sec
.contact-sec{
    .contact-heading{
        text-align: center;
        font-weight: 700;
        color:#fff;
        text-transform: uppercase;
        padding-top: 20px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .contact-heading-text{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
        color: #fff;
        font-size: 0.9rem;
    }
    .bg-wrapper{
        background-color: $secondary-color;
        padding:50px 0;
        .icon{
            width: 100%;
            text-align: center;
            display: block;
            i{
                
                color:#fff;
                font-size:3em;
            }
        }
    }
    .modal-dialog{
        .form-header{
            text-align: center;
            font-weight: 700;
            color: $primary-color;
            text-transform: uppercase;
            padding-top: 50px;
            font-family:$primary-font;
            font-size: 20px;
            @media(min-width:768px){
            font-size: 2rem;
            }
        }

        input{
            width: 100%;
            border: 1px solid#c0272d;
            background-color: #fff;
            border-radius: 5px;
            padding: 12px 12px;
            margin-bottom: 20px;
            &::placeholder{
                color: #c0272d;
                font-family: 'Poppins', sans-serif;
            }
            &:focus-visible{
                outline: none;
            }
        }
        textarea{
            width: 100%;
            border: 1px solid#c0272d;
            background-color: #fff;
            border-radius: 5px;
            padding: 12px 12px;
            margin-bottom: 20px;
            &::placeholder{
                color: #c0272d;
                font-family: 'Poppins', sans-serif;
            }
            &:focus-visible{
                outline: none;
            }
        }
        .btn-cross
        {
            background-color: #fff;
        }
        button{
            padding: 10px 50px;
            background-color: $primary-color;
            border-radius: 8px;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            &:hover{
                background-color: #fff;
                color: #000;
                border-color: #555555;
            }
        }
    }
}
//end contact-sec

//  Brands
.brands-section{
    
    .brands-heading{
        color: $primary-color;
        text-align:center;
        font-family: $primary-font;
        font-weight: 700;
    }
    .brands-heading-text{
        color: #3c180d;
        text-align:center;
        font-family: $primary-font;
        font-weight: 400;
    }
    .icon-wrapper{
        padding:30px 0;
        .logoimg{
            display: flex;
            margin: 0 auto;
            width: 100%;
            fill: #fff;
            @media(min-width:768px){
                width: 50%;
            }
        }
    }
}
//end brands

// success section
.success-section {
    .tns-outer{
        position:relative;
        .tns-controls{
            display: flex;
            justify-content:space-between;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: calc(100% + 80px);
            z-index: 5;
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#000           ;
                font-size: 2em;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    // background-image: url(../images/archievement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    .success-heading {
        text-align: center;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        padding-top: 50px;
        font-family:$primary-font;
        font-size: 20px;
        @media(min-width:768px){
        font-size: 2rem;
        }
    }
    .success-heading-text {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family:$primary-font;
        font-weight: 300;
    }
    .investment-img {
        width: 13%;
        display: flex;
        margin: 0 auto;
        fill: $primary-color;
        @media (min-width: 768px) {
            width: 50%;
        }
    }
    .success-text {
        color: #000;
        padding-top: 20px;
        text-align: center;

    }
}